html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  color: #000;
}

.contact {
  background-color: #fff;
}

.btn {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 60em) {

  .pad-right {
    padding-right: .5rem;
  }

  .pad-left {
    padding-left: 1rem;
  }

}
